.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  border: 5px solid var(--clr-txt);
  border-radius: 20px;
  margin: clamp(20px, 1rem, 50px);
}

.card {
  border: 5px solid var(--clr-txt);
  border-radius: 20px;
  height: 100px;
  width: 100px;
  margin: 20px;
}

.icon {
  width: 100%;
  height: 100%;
}

#email-card:hover {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .card-container {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}

/* For devices with screens larger than 768px (Desktop) */
@media (min-width: 1201px) {
  .contact-page {
    display: flex;
    flex: 1;
  }
}
