.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-container {
    overflow: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    height: 70vh;
    width: 300px;
}

.project-card {
    height: 65vh;
    width: 300px;
    /* margin-right: 5px; */
    flex-shrink: 0;
    scroll-snap-align: center;
    background-color: grey;
}

.project-img {
    max-height: 220px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}