:root.light {
  --clr-bg: #f5f5f7;
  --clr-txt: #000000;
  --clr-hlight: #0821c2;
}

:root.dark {
  --clr-bg: #000000;
  --clr-txt: #f5f5f7;
  --clr-hlight: #0821c2;
}

:root {
  font-family: 'Rubik', sans-serif;
  --clr-bg: #000000;
  --clr-txt: #f5f5f7;
  --clr-hlight: #0821c2;
  background-color: var(--clr-bg);
  color: var(--clr-txt);
}

#content-container {
  display: flex;
  flex-direction: row;
}

.page {
  display: flex;
}

h2 {
  font-size: clamp(2rem, 8vw, 5rem);
  padding: 20px;
  margin: 0;
}

body {
  margin: 0;
}

/* For devices with screens smaller than 768px (Mobile) */
@media (max-width: 768px) {
  #content-container {
    display: flex;
    flex-direction: column;
  }
}
