.about-me-page-container {
  display: flex;
  flex-direction: column;
}

.content-container {
  border: 5px solid var(--clr-txt);
  border-radius: 20px;
  margin: clamp(20px, 1rem, 50px);
  flex-basis: 33.33%;
  flex-wrap: wrap;
}

#about-me {
  max-width: 40%;
}

p,
h3,
.langtech-container {
  margin: 20px;
}

.langtech-container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}

.langtech-container svg {
  /*filter: url(#blur-and-scale); */
  filter: none;
  width: clamp(32px, 100%, 70px);
  height: 100%;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.langtech-container svg:hover {
  transform: scale(1.2);
  filter: url(#blur-and-scale) brightness(1.3);
}

.svg-container {
  position: relative;
  display: inline-block;
  width: clamp(20px, 100%, 70px);
}

.svg-container::after {
  content: attr(data-description);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  font-size: 14px;
}

.svg-container:hover::after {
  opacity: 1;
}
